bentoml==1.4.39
setuptools<81
importlib-metadata==6.11.0
joblib==1.6.0
numpy==2.2.6
torch==2.9.0
torchvision==0.24.0
Pillow==12.3.0
opencv-python==5.0.0.93
matplotlib==3.10.9
fastapi==0.141.1
uvicorn==0.53.0
tqdm==4.70.1
torchsummary==1.5.1
boto3==1.43.99
python-dotenv==1.2.3